/* Estilo de los botones de las pestañas */
.tablink {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.tablink:hover {
  background-color: #ddd;
}

/* Ocultar todo el contenido de las pestañas por defecto */
.tabcontent {
  display: none;
}

/* Mostrar el contenido de la pestaña activa */
.active {
  display: block;
}