@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.body {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

h1,
h2,
p {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.palette,
.colour-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: #252B37;
  margin-top: 24px;
}

.row-colour {
  display: flex;
  flex-wrap: wrap;
  row-gap: 36px;
  column-gap: 56px;
}

.colour-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

/*Primary*/
.primary-100 {
  background-color: #F5F9FF;
}

.primary-200 {
  background-color: #D1E3FF;
}

.primary-300 {
  background-color: #8FBCFF;
}

.primary-400 {
  background-color: #428EFF;
}

.primary-500 {
  background-color: #0066FF;
}

.primary-600 {
  background-color: #0058DB;
}

.primary-700 {
  background-color: #0041A3;
}

.primary-800 {
  background-color: #070D56;
}

.primary-900 {
  background-color: #05093D;
}

/*Secondary*/
.secondary-100 {
  background-color: #DEF6FF;
}

.secondary-200 {
  background-color: #B6EFFF;
}

.secondary-300 {
  background-color: #75E5FF;
}

.secondary-400 {
  background-color: #2CD8FF;
}

.secondary-500 {
  background-color: #00C7FA;
}

.secondary-600 {
  background-color: #009FD4;
}

.secondary-700 {
  background-color: #007EAB;
}

.secondary-800 {
  background-color: #065874;
}

.secondary-900 {
  background-color: #04384D;
}


/* Neutral */
.neutral-100 {
  background-color: #FFFFFF;
}

.neutral-200 {
  background-color: #F6F9FF;
}

.neutral-300 {
  background-color: #EFF3FA;
}

.neutral-400 {
  background-color: #DBE2F0;
}

.neutral-500 {
  background-color: #95A2BD;
}

.neutral-600 {
  background-color: #616C84;
}

.neutral-700 {
  background-color: #3E495E;
}

.neutral-800 {
  background-color: #252B37;
}


/* Success */
.success-100 {
  background-color: #E6FFEE;
}

.success-200 {
  background-color: #B2FBCA;
}

.success-300 {
  background-color: #69E996;
}

.success-400 {
  background-color: #00AF3D;
}

.success-500 {
  background-color: #007A23;
}

.success-600 {
  background-color: #085E27;
}

.success-700 {
  background-color: #004217;
}



/* Warning */
.warning-100 {
  background-color: #FFFAEB;
}

.warning-200 {
  background-color: #FFF1C6;
}

.warning-300 {
  background-color: #FFE088;
}

.warning-400 {
  background-color: #FFB72A;
}

.warning-500 {
  background-color: #F99107;
}

.warning-600 {
  background-color: #DD6A02;
}

.warning-700 {
  background-color: #B74906;
}


/* Error */
.error-100 {
  background-color: #FFF1F2;
}

.error-200 {
  background-color: #FFC4C9;
}

.error-300 {
  background-color: #E56671;
}

.error-400 {
  background-color: #F01224;
}

.error-500 {
  background-color: #CB0717;
}

.error-600 {
  background-color: #8A121C;
}

.error-700 {
  background-color: #4B040A;
}

.error-800 {
  background-color: #070D56;
}

.error-900 {
  background-color: #05093D;
}