@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '~material-icons/iconfont/material-icons.css';


.toggle-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Label */
.label-left,
.label-right {
  color: #252B37;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1%;
}

/* Toggle active */
.toggle-container {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DBE2F0;
  transition: .4s;
  border-radius: 20px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  transition: .4s;
  border-radius: 50%;
}

.toggle:checked+.toggle-slider {
  background-color: #00AF3D;
}

.toggle:checked+.toggle-slider:before {
  transform: translateX(20px);
}

/* Toggle focused */
.toggle-container.focused .toggle-slider {
  box-shadow: 0 0 4px rgba(0, 102, 255, 0.8);
}

/* Toggle disabled */
.toggle-container.disabled .toggle-slider {
  background-color: #DBE2F0;
  cursor: not-allowed;
}