@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '~material-icons/iconfont/material-icons.css';


.button {
  /*Content*/
  display: inline-flex;
  align-items: center;
  gap: 8px;

  /*Text*/
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1%;

  /*Shape*/
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;

  min-width: 136px;
}

/*Types and states*/
.primary {
  color: #FFFFFF;
  background-color: #0041A3;
  border: none;
}

.primary:hover {
  background-color: #0066FF;
}

.primary:focus {
  background-color: #070D56;
}

.primary:active {
  background-color: #0041A3;
}

.button.primary.disabled {
  background-color: #EFF3FA;
  color: #95A2BD;
}

.secondary {
  background-color: white;
  color: #0066FF;
  border: 1px solid #0066FF;
}

.secondary:hover {
  background-color: #F5F9FF;
  color: #0066FF;
}

.secondary:focus {
  background-color: #D1E3FF;
  color: #0066FF;
}

.secondary:active {
  background-color: white;
  color: #0066FF;
}

.button.secondary.disabled {
  background-color: #DBE2F0;
  color: #DBE2F0;
}

.tertiary {
  background-color: white;
  color: #0041A3;
  border: none;
}

.tertiary:hover {
  background-color: white;
  color: #0066FF;
}

.tertiary:focus {
  background-color: white;
  color: #070D56;
}

.tertiary:active {
  background-color: white;
  color: #0041A3;
}

.tertiary.disabled {
  background-color: white;
  color: #DBE2F0;
}

/*Sizes*/
.large {
  height: 56px;
  font-size: 16px;
}

.medium {
  height: 48px;
  padding: 8px 16px;
}

.small {
  height: 36px;
  padding: 8px 16px;
  font-size: 14px;
}

span {
  padding: 0px 4px;
}