@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '~material-icons/iconfont/material-icons.css';

/* dropdown.component.css */
.dropdown {
  position: relative;
  display: inline-block;
}

label {
  display: block;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.help-text {
  font-size: 12px;
  color: #888;
}

.chevron {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
}