@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '~material-icons/iconfont/material-icons.css';

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 50%;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* align-self: stretch; */
}

.subcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

/*Labels*/
label,
textarea,
p,
textarea::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1%;
}

label {
  color: #252B37;
}

p {
  font-size: 11px;
  color: #252B37;
  margin: 0;
}

/*textarea*/
textarea {
  border-radius: 8px;
  border: 1px solid #DBE2F0;
  padding: 16px 12px;
  align-content: start;
  min-width: 328px;
  min-height: 100px;

  box-sizing: border-box;
  resize: vertical;

}

textarea::placeholder {
  color: #95A2BD;
  font-family: "Open Sans";
}

/*textarea states*/
textarea:not(:disabled):hover {
  border-color: #0066FF;
}

textarea:not(:disabled):focus {
  outline: none;
  border-color: #0066FF;
  font-family: "Open Sans";
  color: #252B37;
  box-shadow: 0px 0px 4px 2px rgba(0, 159, 212, 0.20);

}

textarea:not(:disabled):active {
  border-color: #0066FF;
  color: #252B37;
}

textarea:disabled {
  color: #95A2BD;
  background-color: #DBE2F0;
  cursor: not-allowed;
}

textarea:disabled~.label-container label,
textarea:disabled~.subcontainer p {
  color: #95A2BD;
}

textarea:invalid {
  border-color: #CB0717;
  box-shadow: 0 0 5px #E56671;
}

textarea:invalid~.subcontainer p {
  color: #CB0717;
}