
<div *ngIf="isVisible" [ngClass]="classes" class="alert-box">
  <div class="content">
    <i class="material-icons left-icon">{{ icon }}</i>
    <div class="info-content">
      <span class="title">{{ title }}</span>
      <span class="message">{{ message }}</span>
    </div>
  </div>
  <div class="actions">
    <button class="btn-action">
      <span>Action</span>
    </button>
    <div class="line"></div>
    <button class="btn-close" (click)="onClose()">
      <i class="material-icons close-icon">highlight_off</i>
    </button>
  </div>
</div>
